<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bill info</title>
</head>
<header>
    {{> hbs/nav}}
</header>
<body>
<div class="content">
    <div class="headline">
        <h1>Information about your bill {{bill.name}}</h1>
    </div>
    <h3>Net: {{usednet}}</h3>
    <h3>Drawer name: {{bill.drawer.name}}</h3>
    <h3>Drawer peer id: {{bill.drawer.peer_id}}</h3>
    <h3>Drawer bitcoin public key: {{bill.drawer.bitcoin_public_key}}</h3>
    <h3>Drawer postal address: {{bill.drawer.postal_address}}</h3>
    <h3>Drawer email: {{bill.drawer.email}}</h3>
    <h3>Drawee name: {{bill.drawee.name}}</h3>
    <h3>Drawee peer id: {{bill.drawee.peer_id}}</h3>
    <h3>Drawee bitcoin public key: {{bill.drawee.bitcoin_public_key}}</h3>
    <h3>Drawee postal address: {{bill.drawee.postal_address}}</h3>
    <h3>Drawee email: {{bill.drawee.email}}</h3>
    <h3>Payee name: {{bill.payee.name}}</h3>
    <h3>Payee peer id: {{bill.payee.peer_id}}</h3>
    <h3>Payee bitcoin public key: {{bill.payee.bitcoin_public_key}}</h3>
    <h3>Payee postal address: {{bill.payee.postal_address}}</h3>
    <h3>Payee email: {{bill.payee.email}}</h3>
    <h3>Amount numbers: {{bill.amount_numbers}}</h3>
    <h3>Amounts letters: {{bill.amounts_letters}}</h3>
    <h3>Currency code: {{bill.currency_code}}</h3>
    <h3>Date of issue: {{bill.date_of_issue}}</h3>
    <h3>Maturity date: {{bill.maturity_date}}</h3>
    <h3>Place of drawing: {{bill.place_of_drawing}}</h3>
    <h3>Place of payment: {{bill.place_of_payment}}</h3>
    <h3>Jurisdiction: {{bill.bill_jurisdiction}}</h3>
    <h3>Language: {{bill.language}}</h3>
    <h3>Bill public key: {{bill.public_key}}</h3>
    <h3>Bill private key: {{bill.private_key}}</h3>
    {{#unless (eq address_to_pay "")}}
        <h3>Address to pay: {{address_to_pay}}</h3>
    {{/unless}}
    {{#if payed}}
        {{#unless (eq pr_key_bill "")}}
            <h3>Private key to receive money: {{pr_key_bill}}</h3>
        {{/unless}}
    {{/if}}
    <h3>Payed: {{payed}}</h3>
    <h3>Accepted: {{accepted}}</h3>
    <h3><a href="http://localhost:8000/bill/history/{{bill.name}}">History</a></h3>
    <h3><a href="http://localhost:8000/bill/blockchain/{{bill.name}}">Chain</a></h3>
</div>

{{#if (eq peer_id bill.payee.peer_id)}}
    {{#unless payed}}
        <form class="content" action="http://localhost:8000/bill/endorse" method="post">
            <label for="endorsee">Endorsee:</label><br>
            <input type="text" required="required" id="endorsee" name="endorsee" placeholder="Endorsee contact"><br>
            <input hidden type="text" required="required" id="bill_name" name="bill_name" value="{{bill.name}}"
                   placeholder="Bill name" readonly><br>
            <input type="submit" id="button_submit" value="Endorse">
        </form>
    {{/unless}}
    {{#if (eq operation_code codes.[2])}}
        {{#unless accepted}}
            <form class="content" action="http://localhost:8000/bill/request_to_accept" method="post">
                <input hidden type="text" required="required" id="bill_name" name="bill_name" value="{{bill.name}}"
                       placeholder="Bill name" readonly><br>
                <input type="submit" id="button_submit" value="Request to accept">
            </form>
        {{/unless}}
    {{/if}}
    {{#if (eq operation_code codes.[0])}}
        {{#unless payed}}
            <form class="content" action="http://localhost:8000/bill/request_to_accept" method="post">
                <input hidden type="text" required="required" id="bill_name" name="bill_name" value="{{bill.name}}"
                       placeholder="Bill name" readonly><br>
                <input type="submit" id="button_submit" value="Request to accept">
            </form>
        {{/unless}}
    {{/if}}
            <!--        {{#if accepted}}-->
    <!--            <form class="content" action="http://localhost:8000/bill/request_to_pay" method="post">-->
    <!--                <input hidden type="text" required="required" id="bill_name" name="bill_name" value="{{bill.name}}"-->
    <!--                       placeholder="Bill name" readonly><br>-->
    <!--                <input type="submit" id="button_submit" value="Request to pay">-->
    <!--            </form>-->
            <!--        {{/if}}-->
{{/if}}
{{#if (eq peer_id bill.drawee.peer_id)}}
    {{#if (eq operation_code codes.[3])}}
        <form class="content" action="http://localhost:8000/bill/accept" method="post">
            <input hidden type="text" required="required" id="bill_name" name="bill_name" value="{{bill.name}}"
                   placeholder="Bill name" readonly><br>
            <input hidden type="text" required="required" id="operation_code" name="operation_code" value="Accept"
                   placeholder="Operation Code" readonly><br>
            <input type="submit" id="button_submit" value="Accept">
        </form>
    {{/if}}
{{/if}}
</body>
<footer>
    {{> hbs/footer}}
</footer>
</html>