<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chain information</title>
</head>
<header>
    {{> hbs/nav}}
</header>
<body>
<div class="content">
    <div class="headline">
        <h1>Full chain of your bill {{bill.name}}</h1>
    </div>
    <ul>
        {{#each chain.blocks}}
            <li><a href="http://localhost:8000/bill/{{this.bill_name}}/block/{{this.id}}">Id: {{this.id}}</a></li>
            <li>Hash: {{this.hash}}</li>
            <li>Timestamp: {{this.timestamp}}</li>
            <li>Previous hash: {{this.previous_hash}}</li>
            <li>Signature: {{this.signature}}</li>
            <p></p>
        {{/each}}
    </ul>
    <h3><a href="http://localhost:8000/bill/history/{{bill.name}}">History</a></h3>
    <h3><a href="http://localhost:8000/bill/{{bill.name}}">Bill info</a></h3>
</div>
</body>
<footer>
    {{> hbs/footer}}
</footer>
</html>