<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bill info</title>
</head>
<header>
    {{> hbs/nav}}
</header>
<body>
<div class="content">
    <div class="headline">
        <h1>Information about your bill {{bill.name}}</h1>
    </div>
    <h3>Drawer: {{bill.drawer_name}}</h3>
    <h3>Drawee: {{bill.drawee_name}}</h3>
    <h3>Holder: {{bill.holder_name}}</h3>
    <h3>Amount numbers: {{bill.amount_numbers}}</h3>
    <h3>Amounts letters: {{bill.amounts_letters}}</h3>
    <h3>Currency code: {{bill.currency_code}}</h3>
    <h3>Date of issue: {{bill.date_of_issue}}</h3>
    <h3>Maturity date: {{bill.maturity_date}}</h3>
    <h3>Place of drawing: {{bill.place_of_drawing}}</h3>
    <h3>Place of payment: {{bill.place_of_payment}}</h3>
    <h3>Jurisdiction: {{bill.bill_jurisdiction}}</h3>
    <h3>Language: {{bill.language}}</h3>
    <h3>Operation code: {{operation_code}}</h3>
    <h3>Bill public key: {{bill.public_key}}</h3>
    <h3>Bill private key: {{bill.private_key}}</h3>
    {{#unless (eq address_to_pay "")}}
        <h3>Address to pay: {{address_to_pay}}</h3>
    {{/unless}}
    {{#unless (eq pr_key_bill "")}}
        <h3>Private key to receive money: {{pr_key_bill}}</h3>
    {{/unless}}
</div>

{{#if (eq peer_id bill.holder_name)}}
    {{#unless asked_to_pay}}
        <form class="content" action="http://localhost:8000/bill/endorse" method="post">
            <label for="new_holder">New holder name:</label><br>
            <input type="text" required="required" id="new_holder" name="new_holder" placeholder="New holder name"><br>
            <input hidden type="text" required="required" id="bill_name" name="bill_name" value="{{bill.name}}"
                   placeholder="Bill name" readonly><br>
            <input type="submit" id="button_submit" value="Endorse">
        </form>
    {{/unless}}
    {{#if (eq operation_code codes.[2])}}
        {{#unless asked_to_pay}}
            <form class="content" action="http://localhost:8000/bill/request_to_accept" method="post">
                <input hidden type="text" required="required" id="bill_name" name="bill_name" value="{{bill.name}}"
                       placeholder="Bill name" readonly><br>
                <input type="submit" id="button_submit" value="Request to accept">
            </form>
        {{/unless}}
    {{/if}}
    {{#if (eq operation_code codes.[0])}}
        {{#unless asked_to_pay}}
            <form class="content" action="http://localhost:8000/bill/request_to_accept" method="post">
                <input hidden type="text" required="required" id="bill_name" name="bill_name" value="{{bill.name}}"
                       placeholder="Bill name" readonly><br>
                <input type="submit" id="button_submit" value="Request to accept">
            </form>
        {{/unless}}
    {{/if}}
    {{#if confirmed}}
        {{#unless asked_to_pay}}
            <form class="content" action="http://localhost:8000/bill/request_to_pay" method="post">
                <input hidden type="text" required="required" id="bill_name" name="bill_name" value="{{bill.name}}"
                       placeholder="Bill name" readonly><br>
                <input type="submit" id="button_submit" value="Request to pay">
            </form>
        {{/unless}}
    {{/if}}
{{/if}}
{{#if (eq peer_id bill.drawee_name)}}
    {{#if (eq operation_code codes.[3])}}
        <form class="content" action="http://localhost:8000/bill/accept" method="post">
            <input hidden type="text" required="required" id="bill_name" name="bill_name" value="{{bill.name}}"
                   placeholder="Bill name" readonly><br>
            <input hidden type="text" required="required" id="operation_code" name="operation_code" value="Accept"
                   placeholder="Operation Code" readonly><br>
            <input type="submit" id="button_submit" value="Accept">
        </form>
    {{/if}}
    {{#if asked_to_pay}}
        {{#unless payed}}
            <form class="content" action="http://localhost:8000/bill/pay" method="post">
                <input hidden type="text" required="required" id="bill_name" name="bill_name" value="{{bill.name}}"
                       placeholder="Bill name" readonly><br>
                <input type="submit" id="button_submit" value="Pay">
            </form>
        {{/unless}}
    {{/if}}
{{/if}}
</body>
<footer>
    {{> hbs/footer}}
</footer>
</html>