<!DOCTYPE html>
<html lang="en">
<head>
    <title>Block information</title>
</head>
<header>
    {{> hbs/nav}}
</header>
<body>
<div class="content">
    <div class="headline">
        <h1>Block {{block.id}} of bill {{bill.name}}</h1>
    </div>
    <h3>Id: {{block.id}}</h3>
    <h3>Hash: {{block.hash}}</h3>
    <h3>Timestamp: {{block.timestamp}}</h3>
    <h3>Previous hash: {{block.previous_hash}}</h3>
    <h3>Signature: {{block.signature}}</h3>
    <h3>Data: {{block.data}}</h3>
    <h3>Public key: {{block.public_key}}</h3>
    <h3><a href="http://localhost:8000/bill/history/{{bill.name}}">History</a></h3>
    <h3><a href="http://localhost:8000/bill/blockchain/{{bill.name}}">Chain</a></h3>
    <h3><a href="http://localhost:8000/bill/{{bill.name}}">Bill info</a></h3>
</div>
</body>
<footer>
    {{> hbs/footer}}
</footer>
</html>