<!DOCTYPE html>
<html lang="en">
<head>
    <title>Identity info</title>
</head>
<header>
    {{> hbs/nav}}
</header>
<body>
<div class="content">
    <div class="headline">
        <h2>Identity information</h2>
    </div>
    <h3>Net: {{usednet}}</h3>
    <h3>Name: {{identity.name}}</h3>
    <h3>Date of birth: {{identity.date_of_birth}}</h3>
    <h3>City of birth: {{identity.city_of_birth}}</h3>
    <h3>Country of birth: {{identity.country_of_birth}}</h3>
    <h3>Email: {{identity.email}}</h3>
    <h3>Postal address: {{identity.postal_address}}</h3>
    <h3>Peer id: {{peer_id}}</h3>
    <h3>Public key bitcoin: {{identity.bitcoin_public_key}}</h3>
    <h3>Private key bitcoin: {{identity.bitcoin_private_key}}</h3>
</div>
</body>
<footer>
    {{> hbs/footer}}
</footer>
</html>